<style>
  iframe{
    border: none;
  }
  .p5js {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
  }
  .p5js iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
<div class="p5js">
  <iframe srcdoc=" <head><style> body{padding: 0;margin: 0;} </style> <script src=&quot https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js&quot></script> <script src=&quot https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/addons/p5.sound.min.js&quot></script> <link rel=&quotstylesheet&quot type=&quottext/css&quot href=&quotstyle.css&quot> <meta charset=&quotutf-8&quot /> </head> <body> <script src=&quot/p5js/{{.Get 0}}.js&quot></script> </body>" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
</div>